p{
   font-weight:bold;
   line-height: 2;
  }
h1{
  margin: 50px auto 0 auto;
  font-family: 'Satisfy', cursive;
  font-size: 5.625rem;
  color:#66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
body{
  margin:0;
  color:#40514E;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}
img{
  border-radius:30%;
}

hr{
    width: 5%;
    border:dotted  #EAF6F6 8px;
    margin:50px auto;
    border-bottom: none;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.80rem;
  font-weight: normal;
  padding: 20px 0;
}
.top_container{
  background-color:#eaf6f6;
  padding-top :100px;
  position:relative;
}
.middle-container{
  padding:2rem 0 2rem 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 2rem 0 2rem 0;
  margin-bottom:0;
}

.footer-link{
    font-size:16px;
    margin: 10px;
}
.profile{
  padding-top: 20px;
}
.skill-row{
  width:50%;
  margin:50px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.bottom-cloud{
  position:absolute;
  left:150px;
  top:300px;
}
.top-cloud{
  position: absolute;
  top:50px;
  right:400px;
}
.third-cloud{
  position: absolute;
  right:1rem;
  top:450px;
}
.mountain{
width:50%;
}
.computer{
  width:9.375rem;
  float:left;
  margin-right: 30px;
}
.certi{
  width:9.375rem;
  float: right;
  margin-left: 30px;
}
.contact-me{
  font-weight:bold;
}
.edu-desc , .my-desc{
  width:700px;
  text-align: center;
  margin:0 auto;
  padding-bottom: 2rem;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
